body {
  background-image: url("https://www.aente.com.br/img/background.jpeg");
  background-repeat: repeat;
  background-size: cover;
  background-position-x: 0%;
}

.titulo2, .titulo3{
  color: #5ea9d5;
  font-weight: bold;
}

.mensagem-de-retorno {
  display: none;
}
.titulo {
  color: black;
}

h1 {
  line-height: 1.5rem;
}

input {
  border: transparent;
}

.card {
  border-radius: 12px;
}

.card-body {
  border-radius: 12px;
}
body,
h2,
h3,
h5,
p,
span,
label,
input,
button {
  font-family: "Nunito Sans", sans-serif;
  color: #737c83;
  font-size: 13px;
}
.btn-hover {
  letter-spacing: 0.0892857143em;
  font-size: 14px;
  font-weight: -100;
  color: #fff;
  cursor: pointer;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  padding-left: 0;
  padding-right: 0;
  height: 36px;
  min-width: 64px;
  line-height: 1;
  border-radius: 4px;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  padding: 10px 15px;
}

.btn-secondary {
  letter-spacing: 0.0892857143em;
  font-size: 14px;
  font-weight: -100;
  color: #fff;
  cursor: pointer;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  padding-left: 0;
  padding-right: 0;
  height: 36px;
  min-width: 64px;
  line-height: 1;
  border-radius: 4px;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  padding: 10px 15px;
}

.btn-secondary:hover {
  background-position: 100% 0;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn-secondary:focus {
  outline: none;
}

.btn-secondary .btn-hover:hover {
  background-position: 100% 0;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn-hover:focus {
  outline: none;
}

.btn-hover.color-8 {
  background-image: linear-gradient(#181a1b, #34363b, #55666b, #a2adbd);
  box-shadow: 0 4px 15px 0 #1d1e20bf;
}

.btn-hover.color-9 {
  background-image: linear-gradient(
    to right,
    #25aae1,
    #4481eb,
    #04befe,
    #3f86ed
  );
  box-shadow: 0 4px 15px 0 #4184eabf;
}

.indexpag{
  margin-top: 20%;
}